@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
	box-sizing: border-box;
	font-family: 'Ubuntu', sans-serif;
}

html {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	min-height: 100%;

	display: flex;
	flex-direction: column;
}

.row {
	width: 100%;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #55D6AA;
}

.name-title {
	font-size: 1.5rem;
	margin: .5rem;
	padding-left: 20px;
}

.name-title a {
	text-decoration: none;
	color: black;
}

.navbar-links ul {
	margin: 0;
	padding: 0;
	display: flex;
}

.navbar-links li {
	list-style: none;
}

.navbar-links li a{
	text-decoration: none;
	padding: 1rem;
	display: block;
	font-size: 16px;
	font-weight: 800;
	text-transform: uppercase;
	color: black;
}

.navbar-links li:hover {
	background-color: #3FAB86;
}

.toggle-button {
	position: absolute;
	top: .75rem;
	right : 1rem;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 30px;
	height: 21px;
}

.toggle-button .bar {
	height: 3px;
	width: 100%;
	background-color: white;
	border-radius: 10px;
}

.content {
	margin-left: 10%;
	margin-right: 10%;
	text-align: justify;
	padding: 20px;
}

.content hr {
	border: 2px solid;
}

.content a{
	text-decoration: none;
}

.content a:hover {
	text-decoration: underline;
}

.content a:visited{
	color: blue;
}

.instagram-image{
	margin-top: 50px;
	margin-bottom: 30px;
	display: flex;
	justify-content: center;
}

.blog {
	padding: 20px;
	margin-left: 10%;
	margin-right: 10%;
}

.blog p {
	text-align: justify;
}

.blog a{
	text-decoration: none;
}

.blog a:hover {
	text-decoration: underline;
}

.blog a:visited{
	color: blue;
}

code {
	padding: 2px;
	border-radius: 5px;
	font-size: 95%;
	color: purple;
	background-color: #D3D3D3;
}

.container {
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	display: flex;
	flex-flow: row;
	height: 100%;
	/* text-align: center; */
	align-items: center;
	/* background-color: red; */
}

.container img {
	margin-left: 10%;
	width: 350px;
	height: 350px;
}

.container p {
	float: left;
	padding: 10px;
	margin-left: 20px;
	margin-top: 200px;
	text-align: center;
	/* height: 3rem; */
}

.name-highlight {
	text-align: center;
}

.container-2 {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
}

.container-2 p {
	padding: 10px;
	text-align: center;
}

.stuff-I-like {
	border: 4px solid;
	width: auto;
	min-width: 260px;
	right: 0;
	margin: 0px 15% 40px 25px;
	display: flex;
	flex-direction: column;
	padding: 0;
}

.stuff-I-like li{
	text-align: center;
	list-style: none;
	font-size: 24px;
	padding: 5px 10px 5px 10px;
}

footer {
	color: white;
	text-align: center;
	background-color: black;
	margin-top: auto;
}

footer p {
	padding: 5px;
	margin: 0;
	font-size: large;
	text-align: center;
}

.social ul {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.social li {
	list-style: none;
}

.social li a {
	text-decoration: none;
	padding: 0.5rem 1rem 0.5rem 1rem;
	display: block;
	color: white;
}

.speech-bubble {
	position: relative;
	background: #0b99d5	;
	border-radius: .4em;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 0.625em solid transparent;
	border-right-color: #0b99d5;
	border-left: 0;
	margin-top: -0.625em;
	margin-left: -0.625em;
}

.speech-bubble-2 {
	position: relative;
	background: #fbff2b;
	border-radius: .4em;
}

.speech-bubble-2:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-left-color: #fbff2b;
	border-right: 0;
	border-bottom: 0;
	margin-top: -10px;
	margin-right: -20px;
}

/* For navbar*/

@media (max-width: 650px) {
	.toggle-button {
		display: flex;
	}

	.navbar-links {
		display: none;
		width: 100%;
	}

	.navbar {
		flex-direction: column;
		align-items: flex-start;
	}
	
	.navbar-links ul {
		width: 100%;
		position: absolute;
		flex-direction: column;
		background-color: #55D6AA;
		z-index: 1;
	}

	.navbar-links li {
		text-align: center;
	}

	.navbar-links li a {
		padding: .5rem 1rem;
	}

	.navbar-links.active {
		display: flex;
	}

	.container {
		flex-flow: column;
		align-content: center;
		flex-wrap: wrap;
	}

	.container img {
		width: 250px;
		height: 250px;
		margin-left: 0;
		margin-bottom: 20px;
	}

	.container p {
		margin: 0;
	}

	.speech-bubble {
		position: relative;
		background: #0b99d5;
		border-radius: .4em;
	}
	
	.speech-bubble:after {
		content: '';
		position: absolute;
		top: 0;
		left: 50%;
		width: 0;
		height: 0;
		border: 0.625em solid transparent;
		border-bottom-color: #0b99d5;
		border-top: 0;
		border-right: 0;
		margin-left: -0.312em;
		margin-top: -0.625em;
	}

	.container-2 {
		flex-flow: column-reverse;
		align-content: center;
		flex-wrap: wrap;
	}

	.container-2 ul{
		margin: 30px 0px 40px 0px;
	}

	.container-2 p {
		margin: 0;
	}

	.speech-bubble-2 {
		position: relative;
		background: #fbff2b;
		border-radius: .4em;
	}
	
	.speech-bubble-2:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 50%;
		width: 0;
		height: 0;
		border: 20px solid transparent;
		border-top-color: #fbff2b;
		border-bottom: 0;
		margin-left: -20px;
		margin-bottom: -20px;
		margin-top: 0;
		margin-right: 0;
		top: 100%;
	}
}

/* For blogs and content */
@media (max-width: 1000px) {
	.blog {
		margin-right: auto;
		margin-left: auto;
	}

	.content {
		margin-right: auto;
		margin-left: auto;
	}
}