@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
	box-sizing: border-box;
	font-family: 'Ubuntu', sans-serif;
}

body {
	margin: 0;
	padding: 0;
}

.row {
	width: 100%;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #55D6AA;
}

.name-title {
	font-size: 1.5rem;
	margin: .5rem;
	padding-left: 20px;
}

.name-title a {
	text-decoration: none;
	color: black;
}

.navbar-links ul {
	margin: 0;
	padding: 0;
	display: flex;
}

.navbar-links li {
	list-style: none;
}

.navbar-links li a{
	text-decoration: none;
	padding: 1rem;
	display: block;
	font-size: 16px;
	font-weight: 800;
	text-transform: uppercase;
	color: black;
}

.navbar-links li:hover {
	background-color: #3FAB86;
}

.toggle-button {
	position: absolute;
	top: .75rem;
	right : 1rem;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 30px;
	height: 21px;
}

.toggle-button .bar {
	height: 3px;
	width: 100%;
	background-color: white;
	border-radius: 10px;
}

.container {
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	display: flex;
	flex-flow: row;
	height: 100%;
	/* text-align: center; */
	align-items: center;
	/* background-color: red; */
}

.container img {
	margin-left: 10%;
	width: 350px;
	height: 350px;
}

.container p {
	float: left;
	padding: 10px;
	margin-left: 20px;
	margin-top: 200px;
	text-align: center;
	/* height: 3rem; */
}

footer {
	color: white;
	text-align: center;
	background-color: black;
}

footer p {
	padding: 5px;
	margin: 0;
	font-size: large;
	text-align: center;
}

.social ul {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.social li {
	list-style: none;
}

.social li a {
	text-decoration: none;
	padding: 0.5rem 1rem 0.5rem 1rem;
	display: block;
	color: white;
}

.speech-bubble {
	position: relative;
	background: #f15458;
	border-radius: .4em;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 0.625em solid transparent;
	border-right-color: #f15458;
	border-left: 0;
	margin-top: -0.625em;
	margin-left: -0.625em;
}

/* For navbar*/

@media (max-width: 600px) {
	.toggle-button {
		display: flex;
	}

	.navbar-links {
		display: none;
		width: 100%;
	}

	.navbar {
		flex-direction: column;
		align-items: flex-start;
	}
	.navbar-links ul {
		width: 100%;
		flex-direction: column;
	}
	.navbar-links li {
		text-align: center;
	}
	.navbar-links li a {
		padding: .5rem 1rem;
	}

	.navbar-links.active {
		display: flex;
	}

	.container {
		flex-flow: column;
		align-content: center;
		flex-wrap: wrap;
	}
	.container img {
		width: 250px;
		height: 250px;
		margin-left: 0;
		margin-bottom: 20px;
	}

	.container p {
		margin: 0;
	}

	.speech-bubble {
		position: relative;
		background: #f15458;
		border-radius: .4em;
	}
	
	.speech-bubble:after {
		content: '';
		position: absolute;
		top: 0;
		left: 50%;
		width: 0;
		height: 0;
		border: 0.625em solid transparent;
		border-bottom-color: #f15458;
		border-top: 0;
		border-right: 0;
		margin-left: -0.312em;
		margin-top: -0.625em;
	}

}