@import url('https://fonts.googleapis.com/css2?family=B612&display=swap');
.container{
	background-color: lightblue;
}
.navbar{
	position: fixed;
	overflow: hidden;
	top: 0;
	width: 100%;
	background-color: #55D6AA;
}

.navbar a{
	float:left;
	font-size: 16px;
	color: #000000;
	text-align: center;
	text-decoration: none;
	margin-right: 30px;
	text-transform: uppercase;
	font-family: sans-serif;
	padding: 20px;
	font-weight: 800;
}

.content{
	width: 100%;
	background-color: burlywood;
	margin-top: 200px;
}

.about_me{
	font-family: 'B612', sans-serif;
	font-size: 30px;
	float: right;
	background-color: coral;
	margin-right: 600px;
	margin-top: 50px;
	border-style: solid;
	text-align: center;
	border-radius: 20px;
}

.about_me ul li{
	margin-left: -30px;
	margin-right: 10px;
}

.pic{
	float: left;
}
.navbar a:hover{
	background-color: #3FAB86;
}

.footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
	clear: both;
}